<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=78682276946.629095647621&redirect_uri=https://ps4-fcamara.herokuapp.com/app/callback.php"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
    </body>
</html>